* {
    box-sizing: border-box;
    background-color: antiquewhite;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

main, div, section {
    border: 1px solid black;
}

/* ------------------------------- */
/* 메인 틀 */
main {
    display: flex;
}

.empty1 {
    flex-basis: 15%;
    background-color: aqua;
}

#loginForm {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}

/* --------------------------------- */
/* 로그인 부분 */
#headerName {
    font-size: 30px;
    margin-left: 30px;
}

#underLine {
    border: 1px solid hotpink;
    width: 1300px;
}

/* ------------------------------ */
/* 아이디, 비밀번호 입력 */
#inputInfo {
    display: flex;
    justify-content: center;
}

.empty2 {
    flex-basis: 30%;
    background-color: blueviolet;
}

#inputIdPw {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

#inputId :-webkit-input-placeholder{
    /* text-align: right; */
/* 방법 찾아 */
}